h1#archive-page-title
{
    font-size: 3rem;
}

.archive-page-subtitle-wrapper
{
    min-height: 110px; // Make room for avatar
}

h2#archive-page-subtitle
{
    font-size: 2rem;
}

img.author-page-user-avatar
{
    float: left;
    margin-right: 1rem;
}
