.wp-caption
{
    @extend .six;
    @extend .columns;
    display: flex;
    align-items: center;
    margin: {
        bottom: 2rem;
    }
}

.wp-caption > img
{
    max-width: 50%;
    flex-grow: 0;
    height: auto;
    margin-right: 1rem;
}
