#full-page-shadow
{
    pointer-events: none;
    background-color: black;
    opacity: 0;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    
    transition: {
        property: opacity;
        duration: 0.5s;
        timing-function: linear;
    }
}

@media (min-width: 750px)
{
    .container
    {
        padding-left: 20rem;
    }
}

body
{
    position: relative; // Make z-index work
    z-index: -5; // All content has negative z-index
}
