#full-page-shadow
{
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 750px)
{
    .container
    {
        padding-left: 20rem;
    }
}

body
{
    position: relative; // Make z-index work
    z-index: -5;
}
