// BEGIN post list formatting ---------------------------

.text-wrapper-blog > #blog-page-info-wrapper > h1
{
    text-align: center;
}

blockquote.blog-summary-container
{
    border-left: {
        width: 1px;
        color: $charcoal-grey;
        style: solid;
    }
    padding-left: 2rem;
    margin-bottom: 5rem;
}

blockquote.blog-summary-container > *
{
    margin: 0;
}

p.blog-summary-post-date
{
    font-weight: bold;
    font-size: 1rem;
    font-color: $charcoal-grey;
}

blockquote.blog-summary-container > h3
{
    font-size: 2rem;
}

blockquote.blog-summary-container > h3 > a
{
    color: $shade-black;
}

blockquote.blog-summary-container > h3 > a:hover
{
    color: $shade-black;
    text-decoration: underline;
}

blockquote.blog-summary-container > h4
{
    font-style: italic;
    font-size: 1rem;
}

blockquote.blog-summary-container > div.blog-summary-excerpt
{
    margin-top: 1rem;
}

blockquote.blog-summary-container > div.blog-summary-excerpt > img.wp-post-image
{
    float: left;
    margin: {
        right: 1rem;
        bottom: 1rem;
    }
}

blockquote.blog-summary-container > div.blog-summary-excerpt > p
{
    margin-bottom: 0;
}

blockquote.blog-summary-container a.read-more-link
{
    font-style: italic;
}

// END post list formatting

// BEGIN single post formatting
article.blog-article
{
    border-bottom: 1px solid $cool-medium-grey;
}

article.blog-article > h1.blog-post-title
{
    margin: 0;
    font-size: 3rem;
}

article.blog-article > p.blog-post-info
{
    margin-bottom: 1rem;
    border-bottom: 1px solid $charcoal-grey;
    font-style: italic;
    color: $charcoal-grey;
}


// END single post formatting

// BEGIN comments formatting
.comments-container
{
    margin-top: 2rem;
}

h2.comments-title
{
    font-size: 2rem;
}

.comments-container p.comments-closed
{
    font-style: italic;
}

ol.comment-list li
{
    list-style-type: none;
    margin-left: 75px; // Make room for avatar
}

.comment-author.vcard
{
    img.avatar
    {
        position: absolute;
        left: 0;
    }
    
    span.says
    {
        display: none;
    }
}

.comment-metadata
{
    font-size: 1rem;
    font-weight: bold;
}

.comment-metadata > a, .comment-metadata > a:hover
{
    color: $shade-black;
}

.comment-metadata > a:hover::after
{
    content: '#';
    color: $plasma-blue;
}


// END comments formatting
