div#right-sidebar-wrapper
{
    /* Thanks to http://stackoverflow.com/a/11833892/
     * 
     * On desktops or larger, this div will have absolute
     * positioning, allowing it to be placed relative to its
     * container. The sidebar it contains will then have a fixed
     * position yet remain positioned in the same place as this element.
     * On smaller devices, it will switch to static positioning,
     * as will the menu, allowing it to display a normal menu that
     * does not remain on the screen when scrolling.
     */
}

ul#right-sidebar
{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 0;
    
    ul, ol
    {
        padding: 0;
    }
}

// Larger than desktop
@media (min-width: 1000px)
{
    div#right-sidebar-wrapper
    {
        position: absolute;
        top: 2rem;
    }
    
    ul#right-sidebar
    {
        position: fixed;
        right: 2rem;
        width: 30rem;
        
        box-shadow: 0 0 1.2rem 0.65rem rgba(0, 0, 0, 0.4);
        background-color: $shade-black;
        color: $cardboard-grey;
        
        ul
        {
            margin-bottom: 0;
        }
    }
    
    ul#right-sidebar
    {
        form.search-form
        {
            label
            {
                font-weight: normal;
                
                input[type="search"]
                {
                    width: 100%;
                    color: $shade-black;
                }
            }
            
            input[type="submit"]
            {
                color: $cardboard-grey;
            }
        }
        
        li.fallback-loginout
        {
            a
            {
                color: $cardboard-grey;
            }
            
            text-align: center;
        }
    }
}

// Smaller than desktop
@media (max-width: 1000px)
{
    div#right-sidebar-wrapper
    {
        text-align: center;
    }
    
    ul#right-sidebar
    {
        position: relative;
        border: {
            color: $shade-black;
            style: solid;
            width: 0.2rem;
        }
        
        margin: {
            top: 2rem;
            bottom: 2rem;
        }
        text-align: left;
    }
    
    form.search-form
    {
        label
        {
            display: inline-block;
        }
    }
}

ul#right-sidebar h1
{
    font-size: 2.3rem;
    text-decoration-line: underline;
    margin: {
        top: 0;
        bottom: 0.9rem;
        left: 0;
        right: 0;
    }
    text-align: center;
}

ul#right-sidebar li.widget
{
    list-style-type: none;
    margin: {
        bottom: 1rem;
    }
}

// list-style widget formatting (meta, archives widgets)
li.widget > .widgettitle
{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

li.widget > ul
{
    margin: 0;
}

li.widget > ul > li
{
    list-style-type: none;
}
