#carousel-container
{
    box-sizing: content-box; // Override global to avoid unnecessary image cropping
    overflow: hidden;
    position: relative;
}

.carousel-panel
{
    transition: {
        property: transform;
        duration: 1s;
        timing-function: linear;
    }
    transform: translateX(100%);
    position: absolute;
    z-index: -15;
    max-height: 35rem;
}

.carousel-panel img
{
    width: 100%;
    height: auto;
    box-sizing: content-box;
}

.carousel-current-panel
{
    transform: translateX(0) !important;
    z-index: -10 !important;
}

.carousel-previous-panel
{
    transform: translateX(-100%) !important;
    z-index: -14 !important;
}

#carousel-container > #carousel-advance-button
{
    position: absolute;
    color: $cardboard-grey;
    left: 50%;
    transform: translateX(-50%); // Center horizontally
    bottom: 1rem;
    cursor: pointer;
    transition: {
        property: color;
        duration: 0.5s;
    }
}

#carousel-container > #carousel-advance-button:hover
{
    color: $medium-blue-green;
}
