#carousel-container
{
    height: 35rem;
    box-sizing: content-box; // Override global to avoid unnecessary image cropping
    overflow: hidden;
}

.carousel-panel img
{
    width: 100%;
    height: auto;
    box-sizing: content-box;
}
