@mixin vert-center
{
    // Thanks http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
    //position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fixed-header-bar
{
    min-width: 100%;
    background-color: $medium-blue-green;
    height: 5rem;
    position: fixed;
    z-index: 100;
}

.header-bar-item
{
    font-size: 3rem;
}

#header-bar-menu-button
{
    font-size: 2rem;
}

#header-bar-title
{
    font-size: 2.5rem;
}

// Larger than tablet
@media (min-width: 750px) {
    #header-bar-title
    {
        display: block;
    }

    #header-bar-items-container
    {
        display: inline-flex;
        position: relative;
        align-items: center;
        
        @include vert-center;
    }
    
    .header-bar-item
    {
        border-left: {
            width: 2rem;
            style: solid;
            color: transparent;
        }
    }
}

// Smaller than tablet
@media (max-width: 750px) {
    #header-bar-title
    {
        display: none;
    }
    
    #header-bar-items-container
    {
        height: 100%;
        text-align: center;
        position: relative;
    }
    
    #header-bar-menu-button
    {
        position: absolute;
        left: 0;
        @include vert-center;
        
        border-left: {
            width: 2rem;
            style: solid;
            color: transparent;
        }
    }
    
    #header-bar-logo
    {
        display: inline-block;
        position: relative;
        @include vert-center;
    }
}
