@mixin vert-center
{
    // Thanks http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fixed-header-bar
{
    width: 100%;
    background-color: $medium-blue-green;
    height: 5rem;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
}

#header-bar-items-container
{
    width: 100%;
    height: 100%;
    color: $shade-black;
    display: flex;
    position: relative;
    align-items: center;
}

#header-bar-items-container *
{
    color: inherit;
    text-decoration: none;
}

#header-bar-menu-button
{
    font-size: 2rem;
    cursor: pointer;
}

#header-bar-title
{
    font-size: 2.3rem;
}

#header-bar-search-button
{
    font-size: 2rem;
    cursor: pointer;
    border-right: 2rem solid transparent;
}

#header-bar-search-container
{
    display: none;
    position: absolute;
    top: 5rem;
    right: 0;
    background-color: $shade-black;
    max-width: 100%;
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
    padding: 1rem;
    
    form
    {
        margin: 0;
        
        label
        {
            span
            {
                display: none;
            }
        }
    }
}

// Larger than tablet
@media (min-width: 750px) {
    #header-bar-title
    {
        display: block;
    }

    #header-bar-items-container
    {
        align-items: center;
    }
    
    .header-bar-item
    {
        border-left: {
            width: 2rem;
            style: solid;
            color: transparent;
        }
    }
    
    #header-bar-menu-button
    {
        display: none;
    }
    
    #header-bar-logo
    {
       font-size: 3rem;
    }
    
    #header-bar-search-button
    {
        margin-left: auto; // align right
    }
    
    #header-bar-search-container
    {
        width: 30rem;
    }
}

// Smaller than tablet
@media (max-width: 750px) {
    #header-bar-title
    {
        display: none;
    }
    
    #header-bar-items-container
    {
        justify-content: space-between;
    }
    
    #header-bar-menu-button
    {
        border-left: {
            width: 2rem;
            style: solid;
            color: transparent;
        }
    }
    
    #header-bar-logo
    {
        //@include vert-center;
        
        font-size: 3.5rem;
    }
    
    #header-bar-search-container
    {
        width: 100%;
    }
}
