#content-footer
{
    //@extend .menu-margin;
    border: 1rem solid transparent;
    background-color: $charcoal-grey;
    color: $cardboard-grey;
    z-index: -50;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
}

// Larger than tablet
@media (min-width: 750px)
{
    #content-footer
    {
        margin-left: 20rem; // make room for navbar
    }
}

section.footer-link-list
{
    margin: 1rem;

}

section.footer-link-list > h1
{
    font-size: 1.75rem;
    text-decoration: {
        line: underline;
    }
}

section.footer-link-list > ul
{
    list-style: {
        type: disc;
        position: outside;
    }
    padding-left: 1.7rem;
}
