#global-sidebar
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    
    .widget_search > form.search-form > label
    {
        display: inline-block;
    }
    
    ol, ul
    {
        padding: 0;
    }
}

#global-sidebar li
{
    list-style-type: none;
}
