#left-nav-drawer
{
    position: fixed;
    background-color: $shade-black;
    padding-top: 5rem;
    box-shadow: 1rem 0 1rem rgba(0, 0, 0, 0.4);
    z-index: 50;
    transition: {
        property: transform, box-shadow;
        duration: 0.5s;
        timing-function: linear;
    }
}

#left-nav-drawer > #left-nav-links-list
{
    list-style-type: none;
    margin: 0;
    margin: {
        top: 2rem;
        bottom: 2rem;
    }
    font-size: 1.7rem;
}

#left-nav-links-list > li
{
    display: block;
    color: $cardboard-grey;
    padding-left: 1.6rem;
    border-left: {
        width: 0.4rem;
        style: solid;
        color: transparent;
    }
    padding: {
        top: 1rem;
        bottom: 1rem;
    }
    transition-duration: 0.5s;
}

#left-nav-links-list > li:hover
{
    background-color: $charcoal-grey;
    border-left-color: $icon-grey;
}

#left-nav-links-list > li::before
{
    font-family: 'nworthotics-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    
    padding-right: 1rem;
}

#left-nav-link-home::before
{
    content: "\e905";
}

#left-nav-link-about::before
{
    content: "\e902";
}

#left-nav-link-services::before
{
    content: "\e901";
}

#left-nav-link-team::before
{
    content: "\e900";
}

// Larger than tablet
@media(min-width: 750px)
{
    #left-nav-drawer
    {
        display: block;
        width: 20rem;
        height: 100%;
    }
    
    #nav-drawer-swipe-detector
    {
        display: none;
    }
}

// Smaller than tablet
@media(max-width: 750px)
{
    #left-nav-drawer
    {
        width: 50%;
        height: 100%;
    }
    
    #left-nav-drawer.left-nav-drawer-hidden
    {
        transform: translateX(-100%);
        box-shadow: none;
    }
    
    #nav-drawer-swipe-detector
    {
        width: 1rem;
        position: fixed;
        z-index: 110;
        height: 100%;
    }
}

// Smaller than phablet
@media(max-width: 550px)
{
    #left-nav-drawer
    {
        width: 70%;
    }
}
