.carousel-panel-single-photo
{
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.4);
    background-color: $charcoal-grey;
}

.carousel-panel-single-photo-wrapper
{
    background-color: $cool-medium-grey; // fallback
    background-image: url('img/carbon_fiber_dull.png');
    background-size: 100px;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative; // Make absolute positioning work
    
    .carousel-single-photo-caption
    {
        position: absolute;
        bottom: 3rem;
        color: $cardboard-grey;
        margin-bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
